.FilterList {
  background: #161925;
  width: 15%;
  padding: 15px;
}

.FilterList__fieldset {
  border-color: white;
  color: white;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}

.FilterList__inputGroup {
  display: flex;
  align-items: center;
  padding: 2px;
}

.FilterList__input {
  margin-right: 5px;
}
